[submodule "dgs"]
	path = dgs
	url = https://bitbucket.org/malb/dgs.git
[submodule "flint"]
	path = flint
	url = https://github.com/wbhart/flint2.git
[submodule "applications/ore_dir/jsmn"]
	path = applications/ore_dir/jsmn
	url = github:zserge/jsmn
