Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
config.log
configure
depcomp
install-sh
ltmain.sh
m4/
missing
*/config.h.in
*/config.h
/Project.ede
/.libs/libgpv.a
/.libs/libgpv.la
/.libs/libgpv.lai
/Makefile
*/Makefile
/dgsl/Makefile
/config.status
/applications/gghlite_params
/applications/gghlite_instance
/applications/gghlite_noise_dist
/applications/gghlite_false_friends
/applications/nike
*/.dirstamp
*/*.lo
*/*.o
tests/*.trs
*.la
/libtool
*/stamp-h1
*/.deps/
tests/test_dgsl
tests/test_norm
tests/test_invert
tests/test_mul
test_misc
test-driver
bench_dgsl
callgrind.*
*~
.libs/
.dir-locals.el
/applications/bench_prime_g
/applications/bench_ideal_span
