Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
src/config.h.in
/Project.ede
/.libs/libgpv.a
/.libs/libgpv.la
/.libs/libgpv.lai
/Makefile
/config.status
/gghlite
*/.dirstamp
*/*.lo
/libgpv.la
/libtool
/src/config.h
/src/stamp-h1
*/.deps/
test_gpv
*~
